ion-icon {
	color: red;
	font-size: 2rem;
}
.recipes {
	max-width: 100%;
	margin-top: -8rem;
	/* margin-right: 5rem; */
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	column-gap: 7rem;
	row-gap: 2rem;
	justify-content: space-between;
	align-items: center;
	place-items: center;

	padding: 1.4rem 5rem 1.4rem 2rem;
	color: var(--dark-0);
}

.recipe {
	max-width: 100%;
	height: 18rem;
	background-color: var(--light-1);
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 0rem 1.4rem;

	border-radius: 2rem;
	box-shadow: 3px 6px 10px rgba(19, 1, 10, 0.7);

	cursor: pointer;
	/* margin-right: 30rem; */
}
.recipeTexts {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}
.recipeName {
	font-size: 1.8rem;
	font-weight: 600;
}
.recipeTexts p {
	display: flex;
	align-items: center;
	column-gap: 0.5rem;
}
.recipeImage {
	padding: 0.8rem 1.2rem;
	width: 80%;
	height: 80%;
	margin-right: -7rem;
	border-radius: 0 10rem 10rem 0;
	object-fit: cover;
}

/* MEDIA QUERIES */
@media (max-width: 39.94rem) {
	.recipes {
		grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
	}
}
@media (max-width: 31.25rem) {
	.recipes {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		margin-top: -13rem;
		padding: 0.4rem 4rem;
	}
	.recipeImage {
		margin-right: -5rem;
	}
}

@media (max-width: 28.75rem) {
	.recipes {
		margin-top: -9rem;
	}
}
