.recipes {
	display: grid;
	grid-template-columns: 15% auto;
}
.recipeMenus {
	background-color: var(--light-1);
	/* position: fixed; */
	/* height: 100vh; */
}
.recipesLists {
	padding-right: 1.4rem;
}
