.headerForm {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid var(--dark-1);
	padding: 0.6rem 1rem;
	border-radius: 1.8rem;
	background-color: var(--light-0);
}
.headerForm:active,
.headerForm:focus {
	background-color: transparent;
	border: 1px solid var(--dark-0);
}
.serachInput {
	background: transparent;
	border-radius: 1.8rem;
	border: none;
	height: 2.4rem;
	padding: 0.3rem 0.5rem;
}
.serachInput:focus {
	outline: none;
}
